body {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-family: 'DIN Alternate', sans-serif;
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}