@media (max-width: 1199px) {
    .input-label {
        display: block;
    }

    label {
        /* text-align: right; */
        /* width: 100px; */
        font-size: larger;
        /* margin-right: 5px; */
        margin-bottom: 10px
    }

    div {
        padding: 5px;
    }

    input {
        font-size: larger;
    }

    html, body {
        width: 100%;
        overflow-x: hidden;
        background-color: #fbfbfb;
        font-family: 'Helvetica', sans-serif;
    }

    .centered-div {
        width: 600px;
        margin-left: auto;
        padding-right: auto;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        height: 80%;
        /* box-shadow: 0px 0px 10px 10px #888888; */
        /* background-color: #fbfbfb; */
    }

    .space-span {
        padding-left: 20px;
    }

    pre {
        font-family: 'JetBrains Mono', monospace;
        font-size: smaller;
    }   

    #centered-buttons {
        margin-top: 10px;
        margin-left: 30px;
    }
}

@media (min-width: 1200px) {
    .input-label {
        text-align: right;
        width: 100px;
        display: inline-block;
        margin-right: 5px;
    }

    div {
        padding: 5px;
    }

    body {
        background-color: #cfcfcf;
        font-family: 'Helvetica', sans-serif;
    }

    .centered-div {
        padding-left: 30px;
        padding-right: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 80%;
        box-shadow: 0px 0px 10px 10px #888888;
        background-color: #fbfbfb;
    }

    .space-span {
        padding-left: 40px;
    }

    pre {
        font-family: 'JetBrains Mono', monospace;
        font-size: 13px;
    }   


    #centered-buttons {
        margin-top: 30px; 
        margin-left: 150px;
    }
}
